<%- include("header-paginas") %>
<body>
    <header>
        <div class="container">
            <div class="logo"><img src="/images/Design sem nome (1).png"></div>
            <div class="menu">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Agendamento</a>
                    <a href="#">Sobre</a>
                    <a href="#">Contato</a>
                </nav>
            </div>
            <div class="sociais">
                <button><i class="fa-brands fa-instagram"></i></button>
                <button><i class="fa-brands fa-facebook"></i></button>
                <button><i class="fa-brands fa-twitter"></i></button>
            </div>

        </div>
    </header>
    
</body>
</html>